<div class="col-md-12" style="text-align: left; border-bottom: 1px solid gray;">
  <span style="font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; font-size: xx-large">OMNIA DEMO
  </span><span
    style="font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;color: rgb(37, 158, 53);">v1.0.0</span>
</div>
<div class="col-md-4 ItemScroll">

  <div *ngFor="let item of response; let i = index" style="padding: 0%;">
    <div class="ItemBlock" style="cursor: pointer;" (click)="setValue(i)">{{item.Id}}</div>
  </div>
</div>
<div class="col-md-8" style="height : 40vmax; background-color: rgba(143, 173, 143, 0.274); text-align: center;">
  <div>

    <div class="col-md-12" style="padding-top: 2%; text-align: left;">
      <div class="col-md-6">
        <label for="Id">Id :</label>
        <label for="Id"
          style="color:rgb(37, 158, 53); padding: 1%;">&nbsp;{{selectedElement && selectedElement.Id}}</label>
        <!-- <input type="text" id="fname" name="name" placeholder="name.." readonly [(ngModel)]='selectedElement && selectedElement.Id'> -->
      </div>
      <div class="col-md-6">
        <label for="ThreatClassId">ThreatClassId :</label>
        <label for="ThreatClassId"
          style="color:rgb(37, 158, 53); padding: 1%;">&nbsp;{{selectedElement && selectedElement.ThreatClassId}}</label>
        <!-- <input type="text" id="fname" name="name" placeholder="name.." readonly [(ngModel)]='selectedElement && selectedElement.Id'> -->
      </div>
    </div>

    <br />

    <div class="col-md-12" style=" text-align: left;">
      <div class="col-md-6">
        <label for="RemediationTypeId">RemediationTypeId :</label>
        <label for="RemediationTypeId"
          style="color:rgb(37, 158, 53); padding: 1%;">&nbsp;{{selectedElement && selectedElement.RemediationTypeId}}</label>
        <!-- <input type="text" id="fname" name="name" placeholder="name.." readonly [(ngModel)]='selectedElement && selectedElement.Id'> -->
      </div>
      <div class="col-md-6">

        <label for="TestType">TestType :</label>
        <label for="TestType"
          style="color:rgb(37, 158, 53); padding: 1%;">&nbsp;{{selectedElement && selectedElement.TestType}}</label>
        <!-- <input type="text" id="fname" name="name" placeholder="name.." readonly [(ngModel)]='selectedElement && selectedElement.Id'> -->
      </div>
    </div>
    <br />

    <div class="col-md-12" style=" text-align: left;">
      <div class="col-md-6">
        <label for="CVEID">CVEID :</label>
        <label for="CVEID"
          style="color:rgb(37, 158, 53); padding: 1%;">&nbsp;{{selectedElement && selectedElement.CVEID}}</label>
        <!-- <input type="text" id="fname" name="name" placeholder="name.." readonly [(ngModel)]='selectedElement && selectedElement.Id'> -->
      </div>
      <div class="col-md-6">
        <label for="CWEID">CWEID :</label>
        <label for="CWEID"
          style="color:rgb(37, 158, 53); padding: 1%;">&nbsp;{{selectedElement && selectedElement.CWEID}}</label>
        <!-- <input type="text" id="fname" name="name" placeholder="name.." readonly [(ngModel)]='selectedElement && selectedElement.Id'> -->
      </div>
    </div>
    <br />

    <div class="col-md-12" style=" text-align: left;">
        <div class="col-md-6">
    <label for="XFID">XFID :</label>
    <label for="XFID"
      style="color:rgb(37, 158, 53); padding: 1%;">&nbsp;{{selectedElement && selectedElement.XFID}}</label>
    </div>
    <div class="col-md-6">
    <label for="Invasive">Invasive :</label>
    <label for="Invasive"
      style="color:rgb(37, 158, 53); padding: 1%;">&nbsp;{{selectedElement && selectedElement.Invasive}}</label>
    <!-- <input type="text" id="fname" name="name" placeholder="name.." readonly [(ngModel)]='selectedElement && selectedElement.Id'> -->
  </div>
</div>
<br />

<div class="col-md-12" style=" text-align: left;">
    <div class="col-md-6">
    <label for="SecurityRisks">SecurityRisks :</label>
    <label for="SecurityRisks"
      style="color:rgb(37, 158, 53); padding: 1%;">&nbsp;{{selectedElement && selectedElement.SecurityRisks}}</label>
    <!-- <input type="text" id="fname" name="name" placeholder="name.." readonly [(ngModel)]='selectedElement && selectedElement.Id'> -->
  </div>
</div>
    <br />
    <br />
    <div class="col-md-12" style="padding:2%; margin-bottom: 2%; text-align: left;">
        <div class="col-md-3">
          <div>
              <label for="Causes">Causes:</label>
          </div>
          <div>
              <label for="Causes">(Separated by comma)</label>
          </div>
        </div>
        <div class="col-md-9">
    <textarea type="text" id="lname" style="color:black; padding: 1%; width: 80%; height: 200px; overflow-y: scroll;text-align: left" name="version"
      placeholder="version..">{{selectedElement && selectedElement.Causes}}</textarea>

    </div>
  </div>
    <button (click)=updateDetails() type="submit" value="Submit" >Update</button>
    <div *ngIf='showMsg' style="color:red; font-weight: bolder">{{showMsg}}</div>
    <div *ngIf='showSuccess' style="color:green; font-style: italic">{{showSuccess}}</div>

  </div>
</div>
